html{
    background-image: url(src/clock-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 10px;
}
body{
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}
.clock{
    width: 30rem;
    height: 30rem;
    background : rgb(250, 172, 46) ;
    border: 20px solid black;
    border-radius: 50%;
    box-shadow: 0,2px,5px,0 black;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
}
.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}
.hand{
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 100%;
    transition: all 0.005s;
}
.second-hand{
    background: rgb(255, 0, 0);
    height: 5px;
}
.hour-hand{
    background:rgb(182, 15, 79) ;
    height: 10px;
}